<ActionBar>
    <Label text="Home" class="fas"></Label>
</ActionBar>

<StackLayout marginTop="100px">
<FlexboxLayout height="60%">

  <Button text="Dashboard &#xf017;" class="btn fas">
  </Button>
  <Button text="Calendar &#xf073;" class="btn fas"></Button>
  <Button text="Contacts &#xf0c0;" class="btn fas"></Button>
  <Button text="Labels &#xf46d;" class="btn fas"></Button>
  <Button text="Goals &#xf140;" class="btn fas"></Button>
  <Button text="Note &#xf249;" class="btn fas"></Button>
</FlexboxLayout>
    <Button text="Time" class="btn2 fas"></Button>
</StackLayout>
